<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Panel{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <a href="/"><img class="resized-image" style="max-width: 20vh;
        max-height: 8vh;
        object-fit: contain;" src="{% static 'logo/manipalLogo.jpeg' %}" alt="My Logo">
        </a>
        <!-- Common header markup -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Common footer markup -->
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>