{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/group_members.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="content-wrapper">
    <h1 class="animate__fadeInDown">Members of {{ group.name }}  
        
      <button class="back-button animate__fadeInDown animate__delay-1s" onclick="history.back()">Go Back</button>
    </h1>

    <div class="table-container animate__fadeInUp animate__delay-2s">
      <table>
        <tr>
          <td>
            <div class="content">
              <form method="post" class="animate__fadeInUp animate__delay-3s">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn animate__fadeInUp animate__delay-4s">Add Student</button>
              </form>
            </div>
          </td>
        </tr>
        <tr>
          <th class="animate__fadeInUp animate__delay-5s">Username</th>
          <th class="animate__fadeInUp animate__delay-5s">Actions</th>
        </tr>
        {% for member in members %}
        <tr class="animate__fadeInUp animate__delay-6s">
          <td>{{ member.username }}</td>
          <td>
            <a href="{% url 'remove_student_from_group' group_id=group.id user_id=member.id %}" class="btn btn-danger btn-sm animate__fadeInUp animate__delay-7s">Remove</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="button-container animate__fadeInUp animate__delay-8s">
      <a href="{% url 'delete_group' group_id=group.id %}" class="btn btn-danger">Delete Class</a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  gsap.registerPlugin(ScrollTrigger);

  gsap.from('.animate__fadeInDown', {
    duration: 1,
    y: -50,
    opacity: 0,
    stagger: 0.3,
    scrollTrigger: {
      trigger: '.content-wrapper',
      start: 'top 80%',
    },
  });

  gsap.from('.animate__fadeInUp', {
    duration: 1,
    y: 50,
    opacity: 0,
    stagger: 0.3,
    scrollTrigger: {
      trigger: '.content-wrapper',
      start: 'top 80%',
    },
  });
</script>
{% endblock %}