{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-card">
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                {% if form.errors %}
                <div class="alert-danger">
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p>{{ field }}: {{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_js %}

<script src="{% static 'admin/js/core.js' %}"></script>
<script src="{% static 'admin/js/calendar.js' %}"></script>
<script src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var dobInput = document.getElementById('id_dob');
    if (dobInput) {
        dobInput.type = 'date';
    }
});
</script>
{% endblock %}



