{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<br>
<div class="login-container">
    <div class="login-card animate__fadeInUp">
{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
  {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  <label for="otp">OTP:</label>
  <input type="text" id="otp" name="otp" required>
  <button type="submit">Verify</button>
</form>
    </div>
</div>
{% endblock %}